/* Google Fonts: Lato heading */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #EAE7DC;
}

/* headings and logo */

#logo {
    float: left;
    font-size: 270%;
    margin-left: 20px;
    color: #61892F;
    text-transform: uppercase;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
    color: #61892f;
    font-size: 16pt;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #61892f;
}

.active {
    border-bottom: 2px solid #61892f;
}

header {
	position: sticky;
    top: 0;
    background-color: #EAE7DC;
    z-index: 1;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* hero-image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

#hero-image {
    background: url(../images/hero-image-larger.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    position: absolute;
    background-size: cover;
}


#hero-cover {
  width: 100%;
  height: 300px;
  position: relative;
}

#cover-text {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    
    animation-name: text-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text-zoom {
    from {
        opacity: 0;
        top: 300px;
    }

    to {
        opacity: 1;
        top: 275px;
    }
}

/* Call to action section */

.cta-section {
    height: 450px;
    padding: 50px 30px 30px 30px;
    text-align: center;
}

#left-cta {
  float: left;
  width: 20%;
  margin-left: 100px;
  background-color: #61892f;
  border-radius: 30px;
}

#right-cta {
  float: right;
  width: 20%;
  margin-right: 100px;
  background-color: #61892f;
  border-radius: 30px;
}
#center-cta {
  margin: 0 auto;
  width: 20%;
  background-color: #61892f;
  border-radius: 30px;
}


.cta-section div {
background-color: rgb(211, 203, 161);
border-radius: 0 0 30px 30px;
height: 325px;
}

.cta-section h2 {
  padding: 15px 10px 0px 10px;
  height: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.cta-section i {
    padding: 30px 20px 20px 20px;
    font-size: 90pt;
    color: green;
}

.cta-section p {
  padding: 10px 10px 25px 10px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 130%;
}
/* meetup times home page */

#meetup-times {
    text-align: center;
    height: 600px;
    margin-left: 20px;
}

#meetup-times div {
    border: 2px solid white;
    width: 24%;
    float: left;
    height: 300px;
    padding: 100px 4px 30px 4px;
    border-radius: 10%;
}

#meetup-times div:hover {
transform: scale(1.05);
transition: all 0.3s ease 0s;
box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#meetup-times h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    line-height: 60pt;
    border-radius: 10px;
}

#meetup-times h2 {
    color: #61892f;
    font-weight: bold;
    font-size: 30pt;
    clear: both;
    margin-bottom: 30px;
}

#kongens-have {
    background-image: url(../images/kongens-have.jpg);
    background-size: cover;
    background-position-x: 70%;
}

#faelledparken {
    background: url(../images/faelledparken.jpg) no-repeat center;
}

#sondermarken {
    background: url(../images/sondermarken.jpg) no-repeat;
}

#utterslev-mose {
    background: url(../images/utterslev-mose.jpg) no-repeat center;
}

#left-cta:hover, #right-cta:hover, #center-cta:hover {
transform: scale(1.1);
box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.4);
transition: all 0.3s ease 0s;
}

/* footer */

footer {
    height: 75px;
    text-align: center;
    background-color: rgb(177, 142, 96);
    color: #EEE2DC;
    line-height: 75px;
}

#left-footer {
    float: left;
    width: 66%;
}

#left-footer li {
    display: inline;
    padding: 10% 10% 0 10%;
}

#left-footer i {
    font-size: 180%;
}

#right-footer {
    float: right;
    width: 33%;
}

#left-footer i:hover {
transition: all 0.3s ease 0s;
transform: scale(1.2);
box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

/* about us */

.groupintro {
    height: 975px;
    text-align: center;
    line-height: 35px;
}

 #intro-left {
    float: left;
    width: 25%;
    margin: 30px 0px 0px 70px;
    height: 300px;
}

#intro-right {
    width: 25%;
    float: right;
    margin: 30px 70px 0px 0px;
    height: 300px;
}

#intro-center {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
}

#intro-center-pic {
    background: url(../images/children-litter.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#contact-div {
    width: 600px;
    margin: 100px auto auto auto;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

#contact-div:hover {
transform: scale(1.05);
transition: all 0.5s ease 0s;
box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.groupintro h2 {
    color: #61892f;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 250%;
    margin: 40px auto;
}

#contact-div h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 200%;
    color: #61892f;
    padding: 30px 0px;
}

.groupintro h3 {
    font-weight: 600;
    font-size: 150%;
    color: #61892f;
    padding: 60px;
}

.groupintro i {
    font-size: 60pt;
    color: #61892f;
}

.groupintro p {
    padding: 20px 0px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 130%;
    border-top: 1px solid #61892f;
    border-bottom: 1px solid #61892f;
}

/* What we do */

.whatwedo {
    height: 900px;
    text-align: center;
    margin-bottom: 50px;
}

#wwd-top, #wwd-bottom {
    height: 300px;
}

#wwd-top {
   margin: 50px 30px;
}

#wwd-bottom {
    margin: 80px 50px 50px 50px;
}

#wwd-bottom div {
    width: 400px;
}

#litter-left {
    float: left;
    width: 30%;
    margin-left: 50px;
}

#litter-right {
    float: right;
    width: 30%;
    margin-right: 50px;
}

#litter-center {
    margin: 0 auto;
    width: 33%;
}

#center-circle {
    width: 280px;
    height: 280px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0 auto;
}

#circle-bg {
    background: url(../images/girl-garbage-bags.jpg) no-repeat center center;
    background-size: cover;
    background-position-x: 90%;
    border-radius: 50%;
    height: 100%;
}

.whatwedo h2 {
    color: #61892F;
    font-size: 30pt;
    padding: 20px;
    margin-bottom: 20px;
}

.whatwedo h3 {
    color: #61892F;
    font-size: 20pt;
    font-weight: 600;
    padding: 20px;
}

.whatwedo p {
    padding: 20px;
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 3px;

}

#trash-left p, #trash-right p {
    border-top: 1px solid #61892F;
    border-bottom: 1px solid #61892F;
}

#family {
    float: left;
    margin-left: 50px;
}

#join {
    float: right;
    margin-right: 50px;
}

#bring {
    margin: 0 auto;
}

/* contact page */

#form-section {
    height: 600px;
    text-align: center;
    margin: 30px 0;
}

form {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: bold;
}

#form-div-back {
    margin: 0 auto;
    width: 500px;
    background-color: #61892f;
    border-radius: 30px 30px 30px 30px;
}

#form-div-back h2 {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

#form-div-front {
    background-color: rgb(211, 203, 161);
    border-radius: 0 0 30px 30px;
}

.contactus-form {
    padding: 30px;
}

.label {
    margin: 0px;
    width: 100%;
    float: left;
}

#fname, #lname, #email, #message {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 75%;
    padding: 2px 0px 0px 10px;
    margin: 10px 10%;
}


.formbutton {
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #836225;
    color: #fafafa;
}

.formbutton:hover {
    background-color: #fafafa;
    color: #836225;
}

/* 404 page */

#error-page {
    color: #61892f;
    text-align: center;
}

#error-page h1 {
    font-weight: bold;
    font-size: 30pt;
    clear: both;
    margin: 50px;
}

#error-page h2 {
    font-weight: bold;
    font-size: 22pt;
    clear: both;
    margin: 50px;
}

#error-page p {
    color: grey;
    margin: 30px;
    font-size: 18pt;
}

#error-page a {
    text-decoration: lightcoral;
    color: lightcoral;
    border-bottom: rgba(0, 0, 0, 0.5);
}

/* Media queries */

/* for larger screens */
@media screen and (max-width: 1340px) {
#menu {
    letter-spacing: 1px;
}

#menu li {
    margin-right: 15px;
    font-size: 14pt;
}

/* home page 1340px */

.cta-section h2 {
    font-size: 140%;
}

#meetup-times {
    margin-left: 10%;
}

#meetup-times div {
    width: 15%;
    height: 50%;
    padding: 80px 30px 30px 30px;
    }

#meetup-times h3 {
    line-height: 40pt;
}

#faelledparken {
    background-position-x: 40%;
}

#utterslev-mose {
    background-position-x: 40%;
}

/* what we do 1340px */

.whatwedo p {
    padding: 20px 40px;
}

#family {
    margin-left: 20px;
    width: 150px;
}

#join {
    margin-right: 20px;
    width: 150px;
}

#bring {
    width: 150px;
}

#wwd-bottom div {
    width: 300px;
}

}

@media screen and (max-width: 950px) {

#menu {
    clear: left;
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

header {
    height: 120px;
}

#logo {
    font-size: 250%;
}

/* home page 950px */

.cta-section {
    height: 1200px;
    text-align: center;
    padding: 0;
}

#left-cta {
  margin-left: unset;
}

#right-cta {
  margin-right: unset;
}
#center-cta {
  margin: unset;
}

#left-cta, #right-cta, #center-cta {
    width: 80%;
    height: 200px;
    float: none;
    margin: 100px auto 200px auto;
}

.cta-section div {
width: 100%;
margin-bottom: 150px;
}

.cta-section h2 {
  padding: 15px 10px 10px 10px;
  height: 30px;
}

.cta-section i {
    padding: 50px 20px 20px 20px;
}

#left-cta:hover, #right-cta:hover, #center-cta:hover {
transform: scale(1.05);
box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.4);
transition: all 0.3s ease 0s;
}

#meetup-times {
    text-align: center;
    height: 1350px;
    margin-left: 0px;
}

#meetup-times div {
    border: 2px solid white;
    width: 70%;
    float: none;
    height: 150px;
    padding: 100px 30px 30px 30px;
    border-radius: 10px;
    margin: 5px auto;
}

#meetup-times h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    line-height: 30pt;
    border-radius: 10px;
    width: 100%;
}

#meetup-times h2 {
    color: #61892f;
    font-weight: bold;
    font-size: 30pt;
    clear: both;
    margin: 30px 0px;
}

/* footer 950px */

footer {
    height: 75px;
    text-align: center;
    line-height: 75px;
}

#left-footer {
    float: left;
    width: 50%;
}

#left-footer li {
    display: inline;
    padding: 10px 10px 0 10px;
}

#left-footer i {
    font-size: 150%;
}

#right-footer {

    float: left;
    width: 50%;
    font-size: 80%;
}

/* about us 950px */

.groupintro {
    height: 1275px;
}

 #intro-left {
    float: none;
    width: 80%;
    margin: 20px auto;
    height: 100px;
}

#intro-right {
    float: none;
    width: 80%;
    margin: 100px auto;
    height: 100px;
}

#contact-div {
    width: 80%;
    margin: 50px auto auto auto;
}

.groupintro p {
    border-top: none;
    border-bottom: none;
}

/* whatwedo 950px */

.whatwedo {
    height: 1350px;
    text-align: center;
    margin-bottom: 50px;
}

#wwd-top {
    height: 600px;
    margin: auto;
}

#wwd-bottom {
    height: 450px;
    margin: auto;
}

#wwd-bottom div {
    width: 100%;
}

#litter-left {
    float: none;
    width: 100%;
    margin: 0 auto;;
}

#litter-right {
    float: none;
    width: 100%;
    margin: 0 auto;;
}

#litter-center {
    margin: 10px auto;
    width: 100%;
}

#family {
    float: none;
    margin: 0 auto;
}

#join {
    float: none;
    margin: 0 auto;
}

#bring {
    margin: 0 auto;
}

/* contact 950px */

#form-div-back {
    width: 50%;
}

}

@media screen and (max-width: 550px) {

#logo {
    margin: 0 6%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 217%;
    line-height: 50px;
}

#menu {
    letter-spacing: 2px;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#menu > li {
    font-size: 100%;
    letter-spacing: 1px;
}

header {
    height: 110px;
}

#cover-text h2 {
    font-size: 100%;
}

/* footer 550px */

#footer {
    height: 150px;
}

#right-footer {
    font-size: 50%;
}

#left-footer {
    font-size: 60%;
}

/* home page 550px */

.cta-section p {
  padding: 10px 20px 25px 20px;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 130%;
}

/* about us 550px */

.groupintro {
    height: 1425px;
}

 #intro-left {
    margin: 50px auto 150px auto;
}

#intro-right {
    margin: 150px auto;
}

#intro-center {
    margin: 150px auto 50px auto;
}

#contact-div {
    margin-bottom: 50px;
}

.groupintro h2 {
    font-size: 180%;
}

/* what we do page 550px */

.whatwedo {
    height: 1500px;
}

#wwd-top {
    height: 600px;
}

#wwd-bottom {
    height: 750px;
    margin-top: 100px;
}

.whatwedo h3 {
    padding: 20px 20px 10px 20px;
}

/* contact us 550px */

#form-div-back {
    width: 80%;
}

.formbutton {
    padding: 15px 20px 15px 20px;
    font-size: 100%;
}
}

@media screen and (max-width: 400px) { 
#menu > li {
    font-size: 65%;
    }

header {
    height: 150px;
}

    /* home page 400px */

#meetup-times {
    margin-bottom: auto;
}

    /* about us page 400px */
    
.groupintro {
    height: 1725px;
}

 #intro-left {
    margin: 50px auto 200px auto;
}

#intro-right {
    margin: 200px auto 250px auto;
}

#intro-center {
    margin: 200px auto 100px auto;
    height: 250px;
    width: 250px;
}

#contact-div {
    margin-bottom: 50px;
}

    /* what we do page 400 px */

.whatwedo {
    height: 1875px;
}

#center-circle {
    width: 250px;
    height: 250px;
}

#wwd-top {
    margin: 50px auto 100px auto;
}

#wwd-bottom {
    margin-top: 200px;
}

}

@media screen and (max-width: 300px) { 
#menu > li {
    font-size: 58%;

}

/* home page 300px */

#meetup-times {
    margin-bottom: 0px;
}

/* about us page 300px */

#intro-center {
        margin: 300px auto 100px auto;
}

/* What we do page 300px */

.whatwedo {
    height: 1950px;
}

#center-circle {
    width: 200px;
    height: 200px;
}

#wwd-top {
    margin: 50px auto 200px auto;
}

#wwd-bottom {
    margin-top: 200px;
}

}