/* Google Fonts: Lato heading, open sans text */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #EAE7DC;
}

/* headings and logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    color: #61892F;
    text-transform: uppercase;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    overflow: hidden;
    text-align: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
    color: #61892f;
    font-size: 16pt;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #61892f;
}

.active {
    border-bottom: 2px solid #61892f;
}

#hero-outer {
    height: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}



#hero-image {
    height: 600px;
    width: 100%;
    position: absolute;
    object-fit: cover;
}


#hero-cover {
  width: 100%;
  height: 300px;
  position: relative;
}

#cover-text {
    position: relative;
    z-index: 3;
    top: 200px;
    text-align: center;
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    
    animation-name: text-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text-zoom {
    from {
        opacity: 0;
        top: 225px;
    }

    to {
        transform: 1;
        top: 200px;
    }
}

/* Call to action section */

.cta-section {
    height: 450px;
    margin: 50px 30px 30px 30px;
    text-align: center;
}

#left-cta {
  float: left;
  width: 20%;
  margin-left: 100px;
background-color: #61892f;
border-radius: 30px 30px 30px 30px;
}

#right-cta {
  float: right;
  width: 20%;
  margin-right: 100px;
  background-color: #61892f;
  border-radius: 30px 30px 30px 30px;
}
#center-cta {
  margin: 0 auto;
  width: 20%;
  background-color: #61892f;
  border-radius: 30px 30px 30px 30px;
}


.cta-section a {
    text-decoration: none;
    color: inherit;
}


.cta-section div {
background-color: rgb(211, 203, 161);
border-radius: 0 0 30px 30px;
height: 325px;
}

.cta-section h2 {
  padding: 15px 10px 0px 10px;
  height: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.cta-section img {
    padding: 10px;
    width: 90%;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    
}

.cta-section p {
  padding: 10px 10px 25px 10px;
  letter-spacing: 1px;
  font-weight: 400;
}

/* animation for cta-divs  */

#left-cta:hover, #right-cta:hover, #center-cta:hover {
transform: scale(1.1);
-webkit-box-shadow: 0px 20px 10px 15px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

/* footer */

footer {
    height: 75px;
    text-align: center;
    background-color: rgb(177, 142, 96);
    line-height: 75px;
}

#left-footer {
    float: left;
    width: 66%;
}

#left-footer li {
    display: inline;
    padding: 10% 10% 0 10%;
}

#left-footer i {
    color: #EEE2DC;
    font-size: 180%;
}

#right-footer {
    color: #EEE2DC;
    float: right;
    width: 33%;
}

#facebook:hover, #youtube:hover, #twitter:hover, #instagram:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

/* whoweare */

.groupintro {
    height: 600px;
    text-align: center;
    margin: 20px 150px;
}

#intro-upleft {
    float: left;
    border-radius: 10px;
    padding-left: 5%;
}

#intro-upright {
    float: right;
    width: 35%;
}

#intro-lowright {
    float: center;
    border-radius: 10px;
}

#intro-lowleft {
    float: left;
    width: 35%;

}

.introduction {
    clear: both;
    margin: 20px;
    border-radius: 10px;
    height: 280px;
    background-color: rgb(211, 203, 161);
}

.introduction img {
    height: 280px;
}

.introduction p {
    font-size: 16pt;
}

.introduction h3 {
    font-size: 20pt;
}

#intro-upright img {
    width: 100%;
    border-radius: 0 10px 10px 0;
    opacity: 0.8;
}

#intro-lowleft img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    opacity: 0.8;
}

.groupintro h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 200%;
    padding: 50px 20px 0 20px;
    color: #61892f;
}

#intro-lowright h2 {
    padding: 70px;
}

.groupintro p {
    padding-top: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}

.groupintro a {
    text-decoration: none;
    color: inherit;
}

#contact_button {
color: #fff !important;
text-transform: uppercase;
background: #61892F;
padding: 30px 50px;
border-radius: 10px;
border: none;
transition: all 0.4s ease 0s;
}

#contact_button:hover {
background: #434343;
letter-spacing: 1px;
transition: all 0.4s ease 0s;
}


#intro-contact-link h3 {
    font-weight: bold;
}

/* What we do */

.whatwedo {
    height: 600px;
    text-align: center;
}

.whatwedo li {
    list-style-type: none;
}

#wwd-large {
    height: 225px;
    background-color: rgb(211, 203, 161);
    margin: 0 20px;
    width: 95%;
    border-radius: 10px;
}

.wwd-small div {
    height: 300px;
    background-color: rgb(211, 203, 161);
    margin: 20px;
    width: 30%;
    border-radius: 10px;
    float: left;
    border: 1px solid white;
}

.whatwedo h2 {
    color: #61892F;
    font-size: 30pt;
    padding: 20px;
}

.whatwedo h3 {
    color: #61892F;
    font-size: 18pt;
    padding: 20px;
}

.whatwedo p {
    padding: 15px 20px;
    font-size: 16pt;
    font-weight: 700;
}

#meetup-times {
    margin: 30px;
    text-align: center;
    height: 525px;
}

#meetup-times div {
    text-align: center;
    border: 3px solid white;
    width: 20%;
    float: left;
    height: 300px;
    padding: 100px 30px 30px 30px;
    margin-top: 20px;
    border-radius: 10%;
}

#meetup-times div:hover {
transform: scale(1.05);
-webkit-box-shadow: 0px 20px 10px 15px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

#meetup-times h3 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    line-height: 60pt;
    border-radius: 20px;
}

#meetup-times h1 {
    color: #61892f;
    font-weight: bold;
    font-size: 30pt;
}

#kongens-have {
    background-image: url(/assets/images/Kongens-have.jpg);
    background-size: cover;
    background-position-x: 70%;
    overflow: hidden;
}

#fælledparken {
    background: url(/assets/images/Fælledparken.jpg) no-repeat center;
}

#søndermarken {
    background: url(/assets/images/Søndermarken.jpg) no-repeat;
}

#utterslev-mose {
    background: url(/assets/images/Utterslev-mose.jpg) no-repeat center;
}

/* contact page */

#form-section {
    height: 600px;
    text-align: center;
    margin: 30px 0;
}

#form-section div {
    width: 525px;
}

#form-section label {
    font-weight: bold;
}

#form-div-back {
    margin-left: 33%;
    background-color: #61892f;
    border-radius: 30px 30px 30px 30px;
}

#form-div-back h2 {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

#form-div-front {
background-color: rgb(211, 203, 161);
border-radius: 0 0 30px 30px;
}

.contactus-form {
    padding: 30px;
}

#fname, #lname, #subject, #email, #message {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    padding-left: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#purpose {
    margin-bottom: 30px;
}

.form:hover {
    border-color: #f16c6b;
}

.formlabel-messageinput {
    border: 3px solid black;
}

.formbutton {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #836225;
    color: #fafafa;
    display: inline;
}

.formbutton:hover {
    background-color: #fafafa;
    color: #836225;
}