/* Google Fonts: Lato heading, open sans text */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    overflow: hidden;
    text-align: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}